body {
  background-color: black;
  color: white;
}
img {
  margin: 20px;
}
.head {
  background-color: rgba(240, 248, 255, 0.093);
  border: 2px solid rgba(240, 248, 255, 0.093);
  border-radius: 20px;
  margin: 10px;
}
ul li {
  background-color: rgba(240, 248, 255, 0.093);
  border: 2px solid rgba(240, 248, 255, 0.093);
  border-radius: 20px;
  margin: 10px;
}
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.applogo {
  display: inline-block;
  margin: 10px;
  border: 0.2px solid white;
  border-radius: 10px;
  padding: 2px;
}
.apptitle {
  display: inline-block;
  margin: 0px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 0px;
  float: left;
}
.btn {
  background-color: blue;
  color: aliceblue;
  padding: 10px;
  margin: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
}
.btn:hover {
  background-color: rgb(108, 108, 253);
}
.madeby {
  font-size: 13px;
  font-family: monospace;
}
